<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout :: head"></head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  
  <header th:replace="fragments/layout :: header"></header>


  <main>
    <h2>Asiakkaat</h2>
    <!--Table-->
    <p th:if="${#lists.isEmpty(asiakkaat)}">Ei vielä asiakkaita</p>
    <table th:if="${not #lists.isEmpty(asiakkaat)}" id="tablePreview" class="table">
      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Etunimi</th>
          <th>Sukunimi</th>
          <th>Lähiosoite</th>
          <th>Postinumero</th>
          <th>Postitoimipaikka</th>
          <th>Puhelinnumero</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head--> 
      <!--Table body-->
      <tbody>
        
        <tr th:each="asiakas : ${asiakkaat}">
	  	  <th scope="row" th:text="${asiakas.id}">1</th>
	      <td th:text="${asiakas.etunimi}"></td>
	      <td th:text="${asiakas.sukunimi}"></td>
	      <td th:text="${asiakas.lahiosoite}"></td>
	      <td th:text="${asiakas.postitoimipaikka}"></td>
	      <td th:text="${asiakas.postinro}"></td>
	      <td th:text="${asiakas.puhelinnro}"></td>
	      <td th:text="${asiakas.email}"></td>
	      <td>
      		<a th:href="@{/asiakkaat/{id}/muokkaa(id=${asiakas.id})}"><button type="button" class="btn btn-sm">E</button></a> 
      		<a th:href="@{/asiakkaat/{id}/poista(id=${asiakas.id})}"><button type="button" class="btn btn-sm">X</button></a></td>
  		</tr>
        
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    <a href="/asiakkaat/uusi"><button type="button" class="btn btn-sm">Lisää uusi</button></a>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<element th:replace="fragments/layout :: jQuery"></element>
</body>
</html>