<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head"></head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  
  <header th:replace="fragments/layout :: header"></header>
  <main>
    <h2>Laskut</h2>
    <!--Table-->
    <p th:if="${#lists.isEmpty(laskut)}">Ei vielä laskuja</p>
    <table th:if="${not #lists.isEmpty(laskut)}" id="tablePreview" class="table">
      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Toimipiste</th>
          <th>Varaus ID</th>
          <th>Asiakas ID</th>
          <th>Tila</th>
          <th>Päiväys</th>
          <th>Nimi</th>
          <th>Lähiosoite</th>
          <th>Postinumero</th>
          <th>Postitoimipaikka</th>
          <th>Summa</th>
          <th>ALV</th>
          <th>Summa + ALV</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head--> 
      <!--Table body-->
      <tbody>
        <tr th:each="lasku : ${laskut}">
	  	  <th scope="row" th:text="${lasku.id}">1</th>
	      <td th:text="${lasku.toimipiste}"></td>
	      <td th:text="${lasku.varaus.id}"></td>
	      <td th:text="${lasku.asiakas.id}"></td>
	      <td th:text="${lasku.tila}"></td>
	      <td th:text="${lasku.paivays}"></td>
	      <td th:text="${lasku.asiakas.nimi}"></td>
	      <td th:text="${lasku.asiakas.etunimi} + ${lasku.asiakas.sukunimi}"></td>
	      <td th:text="${lasku.asiakas.lahiosoite}"></td>
	      <td th:text="${lasku.asiakas.postinro}"></td>
	      <td th:text="${lasku.asiakas.postitoimipaikka}"></td>
	      <td th:text="${lasku.summa}"></td>
	      <td th:text="${lasku.alv}"></td>
	      <td th:text="${lasku.summa} + ${lasku.alv}"></td>
	      <td>
      		<a th:href="@{/laskut/{id}/muokkaa(id=${lasku.id})}"><button type="button" class="btn btn-sm">E</button></a> 
      		<a th:href="@{/laskut/{id}/poista(id=${lasku.id})}"><button type="button" class="btn btn-sm">X</button></a></td>
  		</tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    <a href="/laskut/uusi"><button type="button" class="btn btn-sm">Lisää uusi</button></a>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../js/jquery-3.2.1.min.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script>
</body>
</html>