<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  <header th:replace="fragments/layout :: header"></header>
  <main>
    <h2>Palvelun lisäys</h2>
    <form action="/palvelut/uusi/" method="POST">
      <div class="form-group">
        <label for="toimipiste">Toimipiste</label>
        <select class="form-control" name="toimipiste" id="toimipiste">
          <option selected="true" disabled="disabled">Valitse toimipiste</option>
          <option th:each="toimipiste : ${toimipisteet}">
          	<element th:text="${toimipiste.nimi}"></element>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="tyyppi">Palvelun tyyppi</label>
        <select class="form-control" name="tyyppi" id="tyyppi">
          <option selected="true" disabled="disabled">Valitse tyyppi</option>
          <option>Majoitus</option>
          <option>Lisäpalvelu</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nimi">Palvelun nimi</label>
        <input class="form-control" name="nimi" id="nimi" placeholder="Palvelun nimi">
      </div>
      <div class="form-group">
        <label for="kuvaus">Palvelun kuvaus</label>
        <input type="text" class="form-control" name="kuvaus" id="kuvaus" placeholder="Kuvaus">
      </div>
      <div class="form-group">
        <label for="hinta">Hinta</label>
        <input type="text" class="form-control" name="hinta" id="hinta" placeholder="Hinta">
      </div>
      <div class="form-group">
        <label for="alv">Alv</label>
        <input type="text" class="form-control" name="alv" id="alv" placeholder="Alv">
      </div>
      <button type="submit" class="btn btn-primary">Lisää uusi</button>
    </form>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<element th:replace="fragments/layout :: jQuery"></element>
</body>
</html>