<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout :: head"></head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  
  <header th:replace="fragments/layout :: header"></header>
  
  <main>
    <h2>Palvelut</h2>
    <!--Table-->
    <p th:if="${#lists.isEmpty(palvelut)}">Ei vielä palveluita</p>
    <table th:if="${not #lists.isEmpty(palvelut)}" id="tablePreview" class="table">
      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Toimipiste</th>
          <th>Palvelutyyppi</th>
          <th>Nimi</th>
          <th>Kuvaus</th>
          <th>Hinta</th>
          <th>Alv</th>
          <th>Hinta + Alv</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head--> 
      <!--Table body-->
      <tbody>
      	<tr th:each="palvelu : ${palvelut}">
	  	  <th scope="row" th:text="${palvelu.id}">1</th>
	      <td th:text="${palvelu.toimipiste.nimi}"></td>
	      <td th:text="${palvelu.tyyppi}"></td>
	      <td th:text="${palvelu.kuvaus}"></td>
	      <td th:text="${palvelu.hinta}"></td>
	      <td th:text="${palvelu.alv}"></td>
	      <td th:text="${palvelu.hinta} + ${palvelu.alv}"></td>
	      <td>
      		<a th:href="@{/palvelut/{id}/muokkaa(id=${palvelu.id})}"><button type="button" class="btn btn-sm">E</button></a> 
      		<a th:href="@{/palvelut/{id}/poista(id=${palvelu.id})}"><button type="button" class="btn btn-sm">X</button></a></td>
  		</tr>
     
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    <a href="/palvelut/uusi"><button type="button" class="btn btn-sm">Lisää uusi</button></a>
  </main>
  <footer></footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<element th:replace="fragments/layout :: jQuery"></element>

</body>
</html>