<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head"></head>
  
  <body style="padding-top: 70px">
  	<!-- body code goes here -->
    <div class="container">
      <header th:replace="fragments/layout :: header"></header>
      <main>
		  <h2>Toimipisteet</h2>
		  <!--Table-->
		  
		  <p th:if="${#lists.isEmpty(toimipisteet)}">Ei vielä toimipisteitä</p>

<table th:if="${not #lists.isEmpty(toimipisteet)}" id="tablePreview" class="table">

<!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Nimi</th>
      <th>Lähiosoite</th>
      <th>Postinumero</th>
      <th>Postitoimipaikka</th>
      <th>Puhelinnumero</th>
		<th>Email</th>
		<th></th>
    </tr>
  </thead>
  <!--Table head-->
  <!--Table body-->
  <tbody>
  	<tr th:each="toimipiste : ${toimipisteet}">
  	  <th scope="row" th:text="${toimipiste.id}">1</th>
      <td th:text="${toimipiste.nimi}"></td>
      <td th:text="${toimipiste.lahiosoite}">Tie</td>
      <td th:text="${toimipiste.postinro}">12345</td>
      <td th:text="${toimipiste.postitoimipaikka}">Paikka</td>
      <td th:text="${toimipiste.puhelinnro}">12345678</td>
      <td th:text="${toimipiste.email}">email</td>
      <td>
      	<a th:href="@{/toimipisteet/{id}/muokkaa(id=${toimipiste.id})}"><button type="button" class="btn btn-sm">E</button></a> 
      	<a th:href="@{/toimipisteet/{id}/poista(id=${toimipiste.id})}"><button type="button" class="btn btn-sm">X</button></td>
  	</tr>
   
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
	    <a href="/toimipisteet/uusi"><button type="button" onclick="window.location.href = 'toimipisteet/uusi';" class="btn btn-sm">Lisää uusi</button></a>
      </main>
	  <footer></footer>
    </div>
    
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  <element th:replace="fragments/layout :: jQuery"></element>
	
  </body>
</html>