<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout :: head"></head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  
  <header th:replace="fragments/layout :: header"></header>

  <main>
    <h2>Varaukset</h2>
    <!--Table-->
    <p th:if="${#lists.isEmpty(varaukset)}">Ei vielä varauksia</p>
    <table th:if="${not #lists.isEmpty(varaukset)}" id="tablePreview" class="table">
      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Toimipiste</th>
          <th>Asiakas ID</th>
          <th>Varattu</th>
          <th>Vahvistettu</th>
          <th></th>
        </tr>
      </thead>
      <!--Table head--> 
      <!--Table body-->
      <tbody>
        
        <tr th:each="varaus : ${varaukset}">
	  	  <th scope="row" th:text="${varaus.id}">1</th>
	      <td th:text="${varaus.toimipiste.nimi}"></td>
	      <td th:text="${varaus.asiakas.id}"></td>
	      <td th:text="${varaus.varattuPvm}"></td>
	      <td th:text="${varaus.vahvistettuPvm}"></td>
	      <td>
      		<a th:href="@{/varaukset/{id}/muokkaa(id=${varaus.id})}"><button type="button" class="btn btn-sm">E</button></a> 
      		<a th:href="@{/varaukset/{id}/poista(id=${varaus.id})}"><button type="button" class="btn btn-sm">X</button></td>
  		</tr>
        
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
    <a href="/varaukset/uusi"><button type="button" class="btn btn-sm">Lisää uusi</button></a>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../js/jquery-3.2.1.min.js"></script> 

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script>
</body>
</html>