<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  <header th:replace="fragments/layout :: header"></header>
  <main>
    <h2>Varauksen muokkaus</h2>
    <form action="/varaukset/muokkaa/" method="POST">
      <div class="form-group">
        <select class="form-control" name="toimipiste" id="toimipiste">
          <option selected="true" disabled="disabled">Valitse toimipiste</option>
          <option>Toimipiste 1</option>
          <option>Toimipiste 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="asiakas">Asiakas</label>
        <select class="form-control" name="asiakas" id="asiakas">
          <option selected="true" disabled="disabled">Valitse asiakas</option>
          <option>Asiakas 1</option>
          <option>Asiakas 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="varattu">Varauspäivä</label>
        <input id="varattu" class="form-control" name="varattu">
      </div>
      <div class="form-group">
        <label for="vahvistus">Vahvistuspäivä</label>
        <input id="vahvistus" class="form-control" name="vahvistus">
      </div>
      <button type="submit" class="btn btn-primary">Lisää muokattu</button>
    </form>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<element th:replace="fragments/layout :: jQuery"></element>
<script type="text/javascript">
$(function() {
	$( "#varattu" ).datepicker();
	$( "#vahvistus" ).datepicker(); 
});
</script>
</body>
</html>