<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head">
</head>

<body style="padding-top: 70px">
<!-- body code goes here -->
<div class="container">
  <header th:replace="fragments/layout :: header"></header>
  <main>
    <h2>Varauksen lisäys</h2>
    <form action="/varaukset/uusi/" method="POST">
      <div class="form-group">
        <select class="form-control" name="toimipiste" id="toimipiste">
          <option selected="true" disabled="disabled">Valitse toimipiste</option>
          <option th:each="toimipiste : ${toimipisteet}">
          	<element th:text="${toimipiste.nimi}"></element>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="asiakas">Asiakas</label>
        <select class="form-control" name="asiakas" id="asiakas">
          <option selected="true" disabled="disabled">Valitse asiakas</option>
          <option th:each="asiakas : ${asiakkaat}">
          	<element th:text="${asiakas.id} + ' ' + ${asiakas.etunimi} + ' ' + ${asiakas.sukunimi}"></element>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="varattu">Varauspäivä</label>
        <input id="varattu" class="form-control" name="varattu" placeholder="Varauspäivä">
      </div>
      <div class="form-group">
        <label for="vahvistus">Vahvistuspäivä</label>
        <input id="vahvistus" class="form-control" name="vahvistus" placeholder="Vahvistuspäivä">
      </div>
      <button type="submit" class="btn btn-primary">Lisää uusi</button>
    </form>
  </main>
  <footer></footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<element th:replace="fragments/layout :: jQuery"></element>
<script type="text/javascript">
$(function() {
	$( "#varattu" ).datepicker();
	$( "#vahvistus" ).datepicker(); 
});
</script>
</body>
</html>